/* 伸び代: CSSの初期化とアプリで利用するスタイルが混じっているのが嫌だ */

:root {
  --primary: #ffcb9a;
  --secondary: #445768;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.container-title {
  text-align: center;
  margin-bottom: 1rem;
}
.container-main {
  margin-bottom: 1rem;
}
.container-chart {
  padding-bottom: 2rem;
}
.app-prefectures-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-bottom: 2rem;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 25px 25px;
  align-items: baseline;
  margin-right: auto;
}

@media screen and (max-width: 420px) {
  .container-title {
    font-size: 16px;
  }
  .container-main {
    font-size: 14px;
  }
}
@media screen and (min-width: 421px) and (max-width: 914px) {
  .container-title {
    font-size: 18px;
  }
}
